snippet sh
#!/usr/bin/env node
$0
endsnippet

snippet strict
'use strict';
$0
endsnippet

snippet im
import $0
endsnippet

snippet com
/* $0 */
endsnippet

snippet func
function $0
endsnippet

snippet fng
function* $0
endsnippet

snippet jss
/* jshint ignore:start */
endsnippet

snippet jse
/* jshint ignore:end */
endsnippet

snippet es6
/* jshint esversion:6 */
endsnippet

snippet req
require('$0');
endsnippet
