snippet com "" !w
(* $0 *)
endsnippet

snippet pr "" !w
print_string $0
endsnippet

snippet prl "" !w
print_endline $0
endsnippet

snippet func "" !w
function
endsnippet

snippet ass "" !w
assert $0
endsnippet

snippet exc "" !w
exception $0
endsnippet

snippet str "" !w
string
endsnippet
