snippet sh
#!/usr/bin/env racket
endsnippet

snippet req
(require $0)
endsnippet

snippet def
(define $0)
endsnippet

snippet dis
(display $0)
endsnippet

snippet disl
(displayln $0)
endsnippet

snippet hset
(hash-set! $0)
endsnippet

snippet href
(hash-ref $0)
endsnippet

snippet hrem
(hash-remove! $0)
endsnippet
